<div class="container my-4">
  <h2><%= @pet.name %></h2>
  <p>Owner: <%= @pet.owner.first_name %></p>

  <h3 class="mt-4">Upcoming Appointments</h3>
  <ul class="list-group">
    <% @pet.appointments.upcoming.each do |appt| %>
      <li class="list-group-item"><%= appt.date.strftime("%B %d, %Y") %> - <%= appt.reason %></li>
    <% end %>
  </ul>

  <h3 class="mt-4">Past Appointments</h3>
  <ul class="list-group">
    <% @pet.appointments.past.each do |appt| %>
      <li class="list-group-item text-muted"><%= appt.date.strftime("%B %d, %Y") %> - <%= appt.reason %></li>
    <% end %>
  </ul>
</div>