<%= form_with(model: appointment) do |f| %>
  <%= render 'shared/error_messages', object: appointment %>
  <div class="mb-3">
    <%= f.label :date, class: "form-label" %>
    <%= f.datetime_field :date, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :reason, class: "form-label" %>
    <%= f.text_area :reason, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :status, class: "form-label" %>
    <%= f.select :status, Appointment.statuses.keys.map { |s| [s.humanize, s] }, {}, { class: "form-select" } %>
  </div>
  <div class="mb-3">
    <%= f.label :pet_id, "Pet", class: "form-label" %>
    <%= f.collection_select :pet_id, Pet.all, :id, :name, { prompt: "Select Pet" }, { class: "form-select" } %>
  </div>
  <div class="mb-3">
    <%= f.label :vet_id, "Vet", class: "form-label" %>
    <%= f.collection_select :vet_id, Vet.all, :id, :last_name, { prompt: "Select Vet" }, { class: "form-select" } %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>